:root {
    --vs-blue: #78c5e7;
    --vs-gray: #282424;
    --vs-light-gray: #383434;
    --vs-white: #f6fdfb;
    --vs-green: #5bb290;
}

.vs-bg-blue {
    background-color: var(--vs-blue);
}

.vs-bg-gray {
    background-color: var(--vs-gray);
}

.vs-bg-light-gray {
    background-color: var(--vs-light-gray);
}

.vs-bg-white {
    background-color: var(--vs-white);
}

.vs-bg-green {
    background-color: var(--vs-green);
}

.vs-blue {
    color: var(--vs-blue);
}

.vs-gray {
    color: var(--vs-gray);
}

.vs-light-gray {
    color: var(--vs-light-gray);
}

.vs-white {
    color: var(--vs-white);
}

.vs-green {
    color: var(--vs-green);
}