.vs-bg-blue {
    background-color: #78c5e7;
}

.vs-bg-gray {
    background-color: #282424;
}

.vs-bg-light-gray {
    background-color: #383434;
}

.vs-bg-white {
    background-color: #f6fdfb;
}

.vs-bg-green {
    background-color: #5bb290;
}

.vs-blue {
    color: #78c5e7;
}

.vs-gray {
    color: #282424;
}

.vs-light-gray {
    color: #383434;
}

.vs-white {
    color: #f6fdfb;
}

.vs-green {
    color: #5bb290;
}