body {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    /* background-image: url(../Images/Background/EntryPageBackground.jpeg); */
}

.g-progress-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.g-shadow-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 500px;
    height: 500px;
}

.g-advice-container {
    height: 25%;
    bottom: 0%;
}

.g-advice-title {
    font-size: calc(var(--g-advice-text-size) / 1.25);
}

.g-advice-text {
    font-size: var(--g-advice-text-size);
}

@media(orientation: landscape) {
    :root {
        --g-advice-text-size: 2em;
    }

    .g-progress-bar .rounded-circle {
        width: 350px;
        height: 350px;
    }

    .g-progress-bar .g-label {
        font-size: 2.5em;
    }

    .g-advice-container {
        width: 85%;
        translate: -50% -50%;
    }
}

@media(orientation: portrait) {
    :root {
        --g-advice-text-size: 2.8em;
    }

    .g-progress-bar .rounded-circle {
        width: 500px;
        height: 500px;
    }

    .g-progress-bar .g-label {
        font-size: 4em;
    }

    .g-advice-container {
        width: 95%;
        translate: -50% -90%;
    }
}