* 
{
    margin: 0;
    padding: 0;
}

p
{
    font-family: 'Montserrat';
}

.background 
{
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Title */
#title-background
{
    height: 40vw;
    background-image: url("images/coding-background.jpg");
    background-attachment: fixed;
    background-position: 50% 60%;
}

#name-background
{
    position: relative;
    width: 28vw;
    height: 14vw;
    background-color: #181a1b;
    opacity: 0.97;
}

#name
{
    text-align: left;
    color: white;
}

#title
{
    font-size: 2.5vw;
}

#subtitle
{
    font-size: 0.8vw;
}

/* About me */
#about-me-background
{
    background-color: #752425;
}

#about-me
{
    color: white;
}

#about-me-title
{
    font-size: 3vw;
}

#about-me-description
{
    font-size: 1.75vw;
}

/* Professional experience background */
#professional-experience-background
{
    background-color: #d32f2f;
}

#fourth-background
{
    background-color: #ffffff;
}

