* 
{
    margin: 0;
    padding: 0;
}

.background 
{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#first-background
{
    height: 50vh;
    background-image: url("images/coding-background.jpg");
    background-attachment: fixed;
    background-position: 50% 50%;
}

#second-background
{
    background-color: #752425;
}

#third-background
{
    background-color: #d32f2f;
}

#fourth-background
{
    background-color: #ffffff;
}

#name
{
    text-align: left;
    font-size: 4vh;
    font-family: 'Montserrat';
}