.g-background-image {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
}

.g-circle {
    transition: background-color 0.3s ease-in-out;
}

.g-circle.ready:hover {
    background-color: var(--vs-green-hover);
    cursor: pointer;
}

.g-circle-container {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.g-shadow-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 500px;
    height: 500px;
}

.g-advice-container {
    height: 25%;
    bottom: 0%;
}

.g-advice-title {
    font-size: calc(var(--g-advice-text-size) / 1.25);
}

.g-advice-text {
    font-size: var(--g-advice-text-size);
}

.g-line-progress-bar {
    width: 25%;
    translate: -50% 75%;
}

.g-label {
    color: var(--vs-white);
    opacity: 0.75;
}

.g-label.ready {
    color: var(--vs-green);
    opacity: 1.0;
}

.g-label.ready.animate__labelPulse {
    translate: -50% -50%;
}

.g-label.ready.animate__fadeOut {
    translate: -50% -50%;
}

@media(orientation: landscape) {
    :root {
        --g-advice-text-size: 2em;
    }

    .g-circle-container .rounded-circle {
        width: 350px;
        height: 350px;
    }

    .g-circle-container .g-label {
        font-size: 2.5em;
    }

    .g-circle-container .g-label.ready {
        font-size: 5em;
    }

    .g-advice-container {
        width: 85%;
        translate: -50% -50%;
    }

    .g-line-progress-bar {
        height: 30px;
    }
}

@media(orientation: portrait) {
    :root {
        --g-advice-text-size: 2.8em;
    }

    .g-circle-container .rounded-circle {
        width: 500px;
        height: 500px;
    }

    .g-circle-container .g-label {
        font-size: 4em;
    }

    .g-circle-container .g-label.ready {
        font-size: 8em;
    }

    .g-advice-container {
        width: 95%;
        translate: -50% -90%;
    }
}