.carousel-button {
    display: flex;
    width: 56px;
    height: 56px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    box-shadow: 0px 1px 4px 1px rgba(36, 36, 36, 0.07);
}

.carousel-button.left {
    border-image: linear-gradient(-45deg, rgba(36, 36, 36, 0.07) 0%, white 100%) 1;
}

.carousel-button.right {
    border-image: linear-gradient(45deg, rgba(36, 36, 36, 0.07), white) 1;
}

.carousel-button.right > img {
    transform: rotate(180deg);
}

.carousel-button-content {
    padding: 8px;
}

.carousel-item-button-container {
    width: 100%;
}

.carousel-item-button {
    display: flex;
    padding: 0px 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.carousel-item-button-content {
    display: flex;
    position: relative;
    width: 218px;
    height: 74px;
    flex-direction: column;
    align-items: flex-start;
    background-image: url("../images/button.svg");
    text-align: center;
    color: #FFF;

    justify-content: center;
    align-items: center;
}

.carousel-item-button-content>p {
    position: relative;
    margin: 0;
    top: -2px;
}