.company-root {
  display: block;
}

h2 {
  font-size: 1.25vmax;
}

.responsibilities, .work-term, strong {
  font-size: 1.25vmax;
}

.logo-wrapper {
  margin-top: 5%;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.logo-wrapper > img {
  object-fit: contain;
  width: 75%;
  height: 100%;
}

#rtu-block > .logo-wrapper > img {
  width: 50%;
}

#enter-vr-block > .logo-wrapper > img {
  width: 60%;
}

#marta-block > .logo-wrapper > img {
  width: 70%;
}

/* Descktop support */
@media (orientation: landscape) {
  .default-content-root {
    width: 50vmax;
  }
}

/* Mobile support */
@media (orientation: portrait) {
  .default-content-root {
    width: 35vmax;
  }
}

#screwdriver-entertainment {
  animation-delay: 0.25s;
}

#rtu-it-lab {
  animation-delay: 0.85s;
}

#enter-vr {
  animation-delay: 1.45s;
}

#marta {
  animation-delay: 2.05s;
}

#screwdriver-entertainment > * > .inscription {
  animation-delay: 1s;
}

#rtu-it-lab > * > .inscription {
  animation-delay: 1.6s;
}

#enter-vr > * > .inscription {
  animation-delay: 2.2s;
}

#marta > * > .inscription {
  animation-delay: 2.8s;
}