body * {
    color: white;
}

.company-root {
    display: block;
    margin: 0 5vmin;
}

h1 {
    padding-top: 3vmin;
    font-size: 5vmin;
    text-align: center;
}

h2 {
    margin-top: 3vmin;
    font-size: 4vmin;
}

.responsibilities {
    font-size: 3vmin;
}

.work-term {
    font-size: 2vmin;
}

.logo-wrapper {
    display: block;
    float: right;
}

.logo-wrapper img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    filter: invert(100%);
}

#content-root {
    margin: 15vmin 10vmax;
    height: 240vmin;
}

#screwdriver-entertainment-block {
    margin-bottom: 12vmin;
}

#rtu-block {
    margin-bottom: 38vmin;
}

#enter-vr-block {
    margin-bottom: 15vmin;
}

#marta-block {
    margin-bottom: 5vmin;
}

#screwdriver-entertainment-logo {
    width: 50%;
    margin-top: 2%;
    margin-right: 8%;
}

#rtu-logo {
    width: 25%;
    margin-right: 20%;
}

#enter-vr-logo {
    filter: invert(100%);
    margin-right: 5%;
}

#marta-logo {
    width: 40%;
    margin-top: 6%;
    margin-right: 5%;
}
