* {
  margin: 0;
  font-family: "Montserrat";
}

body {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../images/Coding_background.jpg");
}

.default-background {
  position: relative;
  background-color: rgba(0, 0, 0, 0.85);
  margin: auto;
  box-shadow: 0 0 2vmin 2vmin rgba(0, 0, 0, 0.85);
}
