.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.copyright {}

.footer-content {
    display: flex;
    align-items: center;
    gap: 34px;
}

.footer-content .page-links {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 12px;

    top: -4px;
    left: -1px;
}

.footer-content .page-links .item {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-content .contacts {}

@media screen and (min-width: 1441px) {
    .footer {
        width: 1120px;
        padding-left: 160px;
        padding-right: 160px;
        padding-top: 150px;
        padding-bottom: 44px;
    }

    .footer-content .contacts {
        margin-top: 0px;
    }
}

@media screen and (max-width: 1440px) and (orientation: landscape) {
    .footer {
        width: 940px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 132px;
        padding-bottom: 42px;
    }

    .footer-content {
        margin-top: -4px;
    }

    .footer-content .contacts {
        margin-top: -1px;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .footer {
        padding: 75px 16px 16px 16px;
    }

    .footer-content>.contacts {
        margin-top: -6px;
    }
}
