.footer {
    display: flex;
    width: 1120px;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 150px;
    padding-bottom: 44px;
    justify-content: space-between;
    align-items: flex-start;
}

.copyright {}

.footer-content {
    display: flex;
    align-items: center;
    gap: 34px;
}

.footer-content .page-links {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 12px;

    top: -4px;
    left: -1px;
}

.footer-content .page-links .item {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-content .contacts {
    margin-top: 0px;
}