.header {
    position: fixed;
    z-index: 100;
    width: 102%;

    justify-content: center;
}

.header-menu {
    display: none;
}

.header-content {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content .page-links {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.header-content .page-links .item, .header-menu .page-links .item {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
    color: var(--White-90);
    user-select: none;
}

.contacts {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 7px;
}

@media screen and (min-width: 1441px) {
    .header {
        left: -18px;
    }

    .header-content {
        padding: 0px 160px;
        height: 80px;
        width: 1120px;
    }
}

@media screen and (max-width: 1440px) and (orientation: landscape) {
    .header {
        left: -11px;
    }

    .header-content {
        padding: 0px 40px;
        height: 80px;
        width: 940px;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .header {
        left: -6px;
    }

    .header-content {
        padding: 0px 16px;
        height: 64px;
        font-size: 18px !important;
        width: 358px;
    }

    .header-menu-open-button {
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
    }

    .header-menu-close-button {
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .header-menu {
        background: linear-gradient(359deg, #000 9.57%, rgba(0, 0, 0, 0.3) 67.77%), url("../images/background1.jpg") lightgray 0px -78.825px / 100% 109.339% no-repeat;
        background-size: 1024px 1024px;
        background-position-x: 50%;
        background-position-y: 50%;
        left: 0px;

        z-index: 99;
        display: block;
        flex-direction: column;
        justify-content: center;

        width: 100vw;
        height: 100vh;
        position: fixed;

        transition: opacity 0.3s ease-in-out;
        opacity: 0;
    }

    .header-menu.opened {
        opacity: 1;
    }

    .opacity-container {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }

    .opacity-container.hide {
        opacity: 0;
    }

    

    .header-menu .page-links {
        top: 37%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    .header-menu .contacts {
        top: 62%;
        justify-content: center;
        margin: auto;
        position: relative;
        display: flex;
        width: 132px;
        height: 36px;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
    }
}