.header {
    z-index: 100;
    background-color: rgba(2, 2, 2, 0.0);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .page-links {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.header .page-links .item {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
    color: var(--White-90);
    user-select: none;
}

.contacts {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 7px;
}

@media screen and (min-width: 1441px) {
    .header {
        padding: 0px 160px;
        height: 80px;
        width: 1120px;
    }
}

@media screen and (max-width: 1440px) and (orientation: landscape) {
    .header {
        padding: 0px 40px;
        height: 80px;
        width: 940px;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .header {
        padding: 0px 16px;
        height: 64px;
        font-size: 18px !important;
        width: 358px;
    }
}