.bg-black {
    background-color: black;
}

.blur {
    filter: blur(0.5rem);
}

.bg-size-cover {
    background-size: cover;
}

.bg-pos-center {
    background-position: center;
}

.bg-fixed {
    background-attachment: fixed;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.size-xxs {
    width: 4rem;
    height: 4rem;
}


.size-xs {
    width: 8rem;
    height: 8rem;
}

.size-s {
    width: 16rem;
    height: 16rem;
}

button {
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
    border: 0;
}

@font-face {
    font-family: neon;
    src: url("../fonts/library-3-am.3am.ttf");
}

@font-face {
    font-family: neon;
    src: url("../fonts/library-3-am.3am.ttf");
}

.neon-wrapper {

    box-shadow: 0 0 0.1vw 0.4vw #fff7f7,
    0 0 0.4vw 0.6vw #e97272,
    0 0 4vw 0.4vw #e50b0b,
    inset 0 0 1.5vw 0.4vw #e50b0b,
    inset 0 0 0.4vw 0.2vw #e97272,
    inset 0 0 0.5vw 0.2vw #fff7f7;
}

.neon-text {
    font-family: neon;
    color: #ffd8d8;
    text-shadow: 0 0 1rem #e50b0b,
    0 0 0.75rem #e50b0b,
    0 0 0.5rem #e50b0b,
    0 0 0.25rem #e50b0b,
    0 0 0.125rem #e50b0b;
}

/*.neon-image {*/
/*    filter: invert(100%) drop-shadow(0 0 0.1vw #e50b0b) drop-shadow(0 0 0.4vw #e50b0b) drop-shadow(0 0 0.4vw #e50b0b);*/
/*}*/