body {
  overflow-x: hidden;
}

.default-content-root * > .empty-link {
  display: block;
  height: 1.4vmax;
  color: white;
  opacity: 1;
  transition: opacity 0.5s;
}

.default-content-root:hover * > .empty-link {
  color: white;
  opacity: 0;
}

.default-content-root * > iframe {
  display: block;
  border-style: none;
  width: 32vmax;
  height: 0vmax;

  transition: width 0.5s, height 0.5s;
}

.default-content-root:hover * > iframe {
  width: 32vmax;
  height: 18vmax;
}

#postworld {
  animation-delay: 0.25s;
}

#quidditch {
  animation-delay: 0.85s;
}

#vr-painter {
  animation-delay: 1.45s;
}

#interactive-map {
  animation-delay: 2.05s;
}

#domont {
    animation-delay: 2.65s;
}

#spark-ar {
  animation-delay: 3.25s;
}

#apartment-127 {
  animation-delay: 3.85s;
}

#marta-hub {
  animation-delay: 4.45s;
}

#postworld > * > .inscription {
  animation-delay: 1s;
}

#quidditch > * > .inscription {
  animation-delay: 1.6s;
}

#vr-painter > * > .inscription {
  animation-delay: 2.2s;
}

#interactive-map > * > .inscription {
  animation-delay: 2.8s;
}

#domont > * > .inscription {
    animation-delay: 3.4s;
}

#spark-ar > * > .inscription {
    animation-delay: 4s;
}

#apartment-127 > * > .inscription {
    animation-delay: 4.6s;
}

#marta-hub > * > .inscription {
    animation-delay: 5.2s;
}