#projects {
    position: absolute;
    top: 3075px;
}

.projects {
    overflow-x: hidden;
}

.projects-content {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    overflow-x: hidden;
}

.projects-toolbar {
    display: flex;
    width: 1120px;
    justify-content: space-between;
    align-items: center;
}

.projects-toolbar-title {
    display: flex;
    width: 700.5px;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
}

.projects-toolbar-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

:root {
    --WINDOW-X-SPACE: 20px;
    --CONTAINER-X-SPACE: 30px;
}

.list-body {
    background: transparent;
    margin: 0;
    padding: 0 200px;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    width: 100vw;
}

.list-container {}

.scroll-container {
    height: 770px;
    overflow-y: hidden;
    margin: 0 calc(-1 * 200px);
    padding: 0 392px;
    display: flex;
    overflow: auto;
}
.scroll-container::-webkit-scrollbar {
    all: unset;
    display: none;
}
 
.scroll-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    margin: 0 400px;
    margin-right: 800px;
}
 
.scroll-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: white;
}
.list-wrapper {
    width: fit-content;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    gap: 32px;
}

.fix-offset {
    width: 415px;
    flex-shrink: 0;
}

.project-list-item {
    display: flex;
    height: 753px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    /* TODO: blur */
}

.project-list-item-background {
    display: flex;
    width: 544px;
    height: 753px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(4px);
    -webkit-mask: linear-gradient(136deg, #000 97.55%, transparent 97.55%);
}

.project-list-item-image {
    display: flex;
    width: 544px;
    height: 304px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.project-list-item-image-title {
    background-repeat: no-repeat;
    background-size: 544px 304px;
    width: 542px;
    height: 302px;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project-list-item-image>img {
    width: 544px;
    height: 304px;
    flex-shrink: 0;
}

.project-list-item-description-block {}

.project-list-item-description-content {
    display: flex;
    padding: 0px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.project-list-item-title {
    align-self: stretch;
    margin-top: 0;
    margin-bottom: 0;
}

.project-list-item-description>p {
    margin: 0;
}

.project-list-item-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    width: 480px;
}

.project-list-item-button-container {
    width: 100%;
}

.project-description-overflow {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.project-show-more {
    display: flex;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    user-select: none;
    cursor: pointer;
}


@media screen and (min-width: 1441px) {
    .projects-content {
        padding-right: 160px;
        padding-left: 160px;
        padding-top: 144px;
    }

    .projects-toolbar {
        width: 1120px;
    }

    .list-body {}
}

@media screen and (max-width: 1440px) and (min-width: 768px) {
    #projects {
        position: absolute;
        top: 2490px;
    }

    .projects-content {
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 96px;
    }

    .projects-toolbar {
        width: 940px;
    }

    .list-body {
        width: 940px;
    }
}


@media screen and (max-width: 767px) {
    #projects {
        position: absolute;
        top: 2780px;
    }

    .projects-content {
        padding-top: 82px;
    }

    .projects-toolbar {
        width: 358px !important;
        padding-left: 16px;
    }

    .projects-toolbar-title {
        width: 289px !important;
    }

    .list-body {
        padding: 0px 16px;
        margin-top: -22px;
        width: 358px;
        gap: 24px;
    }

    .project-list-item {
        width: 320px;
        height: 525px;
        gap: 16px;
    }

    .project-list-item-background {
        width: 335px !important;
        height: 525px !important;
        -webkit-mask: linear-gradient(136deg, #000 97.75%, transparent 97.75%);
    }

    .project-list-item-image {
        width: 320px;
        height: 180px;
    }

    .project-list-item-image-title {
        margin-top: 10px;
        background-size: 320px 180px;
        width: 320px;
        height: 180px;
    }

    .project-list-item-image>img {
        width: 320px;
        height: 180px;
    }

    .project-list-item-description-block {
        margin-top: 4px;
    }

    .project-list-item-description {
        width: 288px;
    }
    
    .project-list-item-description-content {
        padding: 0px 16px;
    }

    
}